.clients .container{
max-width:1200px;
margin:25px auto;
display:flex;
flex-direction:column;
align-items:center;
gap:35px;
color:#fff;
}

.clients .container > h2{
margin-top:30px;
font-size:35px;
text-transform:capitalize;
}

.clients .container > p{
text-align:center;
line-height:1.5rem;
width:75%;
color:rgba(255,255,255,.7);
}


.clients .container > div{
display:grid;
grid-template-columns:repeat(4 , 1fr);
gap:20px;
}

.clients .container > div > img{
width:70%;
}






@media screen and (max-width:767px){

.clients .container > div{
display:flex;
flex-direction:column;
gap:15px;
justify-content:center;
align-items:center;

}



}




