
.header > div{
min-height:calc(100vh);
max-width:1200px;
display:flex;
justify-content:space-between;
align-items:center;
padding:25px;
}

.header > div > div.col-left{
display:flex;
flex-direction:column;
gap:30px;
color:var(--h1-color);
}
.header > div > div.col-left div{
font-size:30px;
}
.header > div > div.col-left div , 
.header > div > div.col-left h1{
text-transform:capitalize;
}

.header > div > div.col-left h1{
font-size:30px;
}
.header > div > div.col-left h1 > span:first-of-type{
color:var(--second-color);
display:inline-block;
margin-bottom:15px;
margin-left:15px;
}

.header > div > div.col-left h1 > span:nth-of-type(2) span{
text-transform:lowercase;

}

.header > div > div.col-left p{
line-height:1.5rem;
color:var(--p-color);
}
.header > div > div.col-left button{
width:fit-content;
cursor:pointer;
padding:10px 20px;
border-radius:10px;
border:none;
display:flex;
gap:5px;
align-items:center;
background:var(--btn-bg-color);
border:3px solid var(--btn-border-color);
color:var(--button-color);
transition:.5s;
font-size:22px;
font-weight:500;
letter-spacing:2px;
}


.header > div > div.col-left button:hover{
background:var(--btn-hover-bg-color);
color:var(--btn-hover-color);
}


.header > div > div{
width:50%;
}








@media screen and (max-width:767px){


.header > div{

max-width:600px;
height:auto;
flex-direction:column;
align-items:center;
margin:25px auto;
padding:0px;
}

.header > div > div.col-left{
width:90%;
margin-top:80px;
}




.header > div > div.col-left h1{
font-size:22px;
}



.header > div > div.col-right{
display:none;
}

}












