
.navbar{
background:var(--main-background-color);
width:100%;

box-shadow:1px 1px 5px rgba(0,0,0,.2);
transition:all 3s ease;
}



.navbar > div.container{
margin:0px auto;
max-width:1200px;
height:80px;
display:flex;
justify-content:space-between;
align-items:center;
color:var(--h1-color);

}

.navbar > div.container > div.logo > a:nth-of-type(1){
color:var(--second-color);
font-size:30px;
cursor:pointer;
margin-right:50px;
}

.navbar > div.container > div.logo > .lamp{
font-size:30px;
color:var(--second-color);
cursor:pointer;
}

.navbar > div ul.desktop-menu{
display:flex;
gap:15px;
}

ul.desktop-menu  > a{
cursor:pointer;
text-transform:capitalize;
position:relative;
}


ul.desktop-menu  a:before , ul.desktop-menu >  a.active:before{
content:'';
position:absolute;
width:0%;
height:2px;
background:var(--second-color);
bottom:-8px;
transition:width .5s ;
}
ul a:hover:before ,  ul.desktop-menu > a.active:before{
width:100%;
}

.navbar > div > a.btn-contact{
padding :10px 20px;
border-radius:10px;
border:none;
cursor:pointer;
display:flex;
gap:5px;
align-items:center;
border:3px solid var(--btn-border-color);
color:var(--button-color);
background:var(--btn-bg-color);
font-size:22px;
font-weight:500;
letter-spacing:2px;
transition:.5s;
}


.navbar > div > a.btn-contact .custom-icon-class {
  /* Add any styles for the icon here background:var(--btn-bg-color);*/

  color:var(--button-color);
  font-size:30px;
  transition:.5s;
}


.navbar > div > a.btn-contact:hover {
background:var(--btn-hover-bg-color);
color:var(--btn-hover-color);
}
.navbar > div > a.btn-contact:hover .custom-icon-class{
color:var(--btn-hover-color);
}
.active{
color:var(--second-color);

}


.mobile-menu, .menu{
display:none;
}




@media screen and (max-width:767px){

.navbar > div{
padding:10px 20px;
}

.navbar > div > a.btn-contact , .navbar > div ul.desktop-menu {
display:none;
}

.menu{
display:block;
font-size:50px;
color:var(--second-color);
cursor:pointer;
}

.mobile-menu{
	
	display:flex;
	flex-direction:column;
	position:absolute;
	top:80px;
	background:var(--second-background-color);
	width:100vw;
	color:var(--h1-color);
	left:-100vw;
	transition:left .5s;
}

.show{
left:0;
}
.mobile-menu a{
margin-bottom:5px;
text-transform:uppercase;
cursor:pointer;
text-align:center;
padding:15px 0;
}

.mobile-menu a:hover{
background:var(--main-background-color);
}


}




