.footer{
background:var(--second-background-color);
display:flex;
justify-content:center;
align-items:center;
padding:15px 0;
color:var(--p-color);
text-transform:capitalize;

}

.footer .container{
text-align:center;
}
